<div class="mb-8 mt-8">
  <div class="flex items-center gap-4">
    <%= search_form_for @q, html: { data: { turbo_frame: "memos", controller: "search" } } do |f| %>
      <div class="relative">
        <%= f.text_field :content_cont,
            class: "w-full px-4 py-2 border rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500",
            placeholder: "æ¤œç´¢...",
            data: { action: "input->search#search" } %>
      </div>
    <% end %>
      <%= link_to new_memo_path,
    class: "bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg transition-colors duration-200",
    data: { turbo_frame: "modal" } do %>
  <span class="flex items-center">
    ï¼‹ å‡ºåŠ›é–‹å§‹
  </span>
<% end %>
  </div>
</div>
<%= turbo_frame_tag "memos", data: { turbo_action: :advance } do %>
  <div id="memos-container" class="flex flex-col gap-4">
    <%= render @memos %>
    <%= render "empty_results", query: @q&.content_cont if @memos.empty? %>
  </div>
  <div class="text-center mt-8">
    <%= link_to_next_page @memos, "æ°—åŠ›ååˆ†ðŸ˜¤",
        class: "inline-flex items-center px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white font-medium rounded-lg transition-colors duration-200",
        data: { turbo_frame: "memos-container" } %>
  </div>
<% end %>
